/* Your Styles Here */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #6B9080;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #ffffff;
  }

  main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .avatar-image { 
    height: 15rem;
    border-radius: 50%;
  }

  .introduction-card {
    display: flex;
    max-width: 40rem;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1.5rem;
    box-shadow: 0.2rem 0.1rem rgba(255, 255, 103, 0.796), 2px 2px 8px rgba(0, 0, 0, 0.2);
    background: #A4C3B2;
    border-radius: 10px;
  }

  .intro-text {
    font-size: 1rem;
    line-height: 1.2rem
  }

  /* a {
    color: #224335;
    font-weight: bold;
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    top: 30vh;
    left: 5%;
    width: 90%;
    z-index: 100;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    animation: float-in 0.3s ease-out forwards;
    flex-direction: column;
  }

  .modal p {
    margin: 0;
    padding: 0 1rem;
  }

  .modal button {
    align-self: flex-end;
    margin: 0.5rem;
  } */
